[Unit]
Description=Set CPU governor and frequency limits
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set --governor conservative
ExecStartPost=/usr/bin/cpupower frequency-set --max 2.6GHz
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
